.topnav {
    background-color: rgba(0, 0, 0, 0.863);
    overflow: hidden;
    }

    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    .topnav a.active {
    background-color: #8f8f8fc7;
    color: white;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.a1{
    font-family: Garamond, serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    width: 100%;
}

h1,h3{
    font-size: 45px;
}
h2{
    font-family: Garamond, serif;
    text-align: center;
    font-size: 40px;
}


p{
    font-family: Garamond, serif;
    font-size: 25px;
}

button{
    font-size: 15px;
}

